/*美容模块样式代码*/
div.main_1{
  overflow: hidden;
  margin-top: 45px;
}
div.main_2{
  overflow: hidden;
  position: relative;
}
div.main_content{
  width:100%;
  position: relative;
}
div.nav{
  width:1200px;
  margin:0 auto;
  height:45px;
  border-bottom:1px solid #dfdfdf;
  margin-bottom: 20px;
}
div.nav_top>span{
  color:#666;
  line-height: 30px;
}
div.nav_top>span a{
  color:#666;
  font-size:14px;
  margin: 0 8px;
  text-decoration: none;
}
/* 销售状况样式 */
div.sale{
  width:1200px;
  background: #fbfbfb;
  border:1px solid #e4e4e4;
  height:45px;
  margin:0 auto;
  position: relative;
}
ul.slae_l{
  float:left;
  list-style: none;
}
li.sale_li{
  line-height: 45px;
  text-align: center;
  float: left;
  margin-right: 30px;
  margin-left: 10px;
}
li.sale_li>a{
  text-decoration: none;
  list-style: none;
  color:#666;
  font-size: 14px;
}
ul>li:nth-child(5)>a{
  color:#94193f;
} 
div.sale_r{
  float: right;
  height: 45px;
  width:600px;
}
div.sale_span{
  float: left;
  height:45px;
  width:200px;
  line-height: 45px;
  text-align: center;
  margin-left: 250px;
}
div.sale_span>span>a{
  color:#666;
  font-size:14px;
  text-decoration: none;
  margin:0 4px;
}
div.sale_page{
  float: right;
  height:45px;
  width:130px;
  line-height: 45px;
}
div.sale_page>a{
  color:#666;
  font-size:14px;
  text-decoration: none;
  margin: 0 5px;
}
div.sale_page>a:hover{
  color: #94193f;
}
/* 商品列表样式 */
div.shop_list{
  position: relative;
  margin-top: 20px;
}
div.shop_list1{
    overflow: hidden;
}
div.shop_list2{
  width:100%;
  height:100%;
  position: relative;
}
ul.shop_ul{
  width:1202px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
}
li.shop_li{
  height:382px;
  width:291px;
  float:left;
  border:1px solid #ddd;
  overflow: hidden;
  position: relative;
  margin:0 5px 18px 2px;
}
li.shop_li:hover{
  border:1px solid #fff;
}
div.shop_pic{
  position: relative;
}
div.shop_pic>img{
  width:291px;
  height:291px;
}
div.shop_li_top{
  margin:5px 7px 0 6px;
}
div.shop_li_top>span{
  margin-right: 8px;
  font-size: 20px;
  color:#94193f;
}
div.shop_li_top>del{
  font-size:14px;
  color:#666;
}
div.shop_li_bottom{
  font-size:14px;
  margin: 5px 7px 0 10px;
}
div.shop_li_bottom>a{
  text-decoration: none;
  color:#434343;
}
/* 分页条的详细样式 */
div.page_list{
  width:1200px;
  margin:0 auto;
  height:50px;
  /* background: pink; */
  border:1px solid #787878;
  position: relative;
}
ul.page_list_ul{
  width:500px;
  height: 50px;
  list-style: none;
  line-height: 50px;
  margin: 0 auto;
}
li.page_list_li{
  float: left;
  margin:0 44px 0 14px;
}
li.page_list_li>a{
  text-decoration: none;
  color:#787878;
}